.container {
    max-width: 950px;
}
.siderbar {
    max-width: 100%;
}

body.page.type-docs {
    background-image: url("/images/typedocs.png");
    background-repeat: no-repeat;
    background-position: fixed right;
    background-size: 25%;
    background-attachment: fixed;
}

@media only screen and (max-width: 400px) {
    body {
        background-image: url("/images/3.jfif");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 100%;
    }
}

body.home {
    background-image: url("/images/home.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 30%;
}


body.page {
    background-image: url("/images/page.jfif");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40%;
}

body {
    background-image: url("/images/main.jfif");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 30%;
}

.sidebar {
    background-color: rgb(130, 220, 243);
}

