.container {
    max-width: 950px;
}
.siderbar {
    max-width: 100%;
}

body.home {
    background-image: url("/images/3.jfif");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
}

body {
    background-image: url("/images/2.jfif");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 40%;
}

.siderbar {
    background-image: url("/images/Background.jfif");
}