.container {
    max-width: 950px;
}
.siderbar {
    max-width: 100%;
}

/* For background */

body.page.type-docs {
    background-image: url("/images/typedocs.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25%;
    background-attachment: fixed;
}

body.page.type-project {
    background-image: url("/images/typedocs.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25%;
    background-attachment: fixed;
}

body.home {
    background-image: url("/images/home.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30%;
}


body.page {
    background-image: url("/images/page.jfif");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 30%;
}

body {
    background-image: url("/images/main.jfif");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30%;
    background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
    body * {
        background-image: url("/images/3.jfif");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 100%;
    }
    /*body.home {
        background-image: url("/images/3.jfif");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 100%;
    }
    body.page {
        background-image: url("/images/3.jfif");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 100%;
    }
   /* body.page.type-docs {
        background-image: none;
    }
   

   body.page.type-docs {
        background-image: url("/images/3.jfif");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 100%;
    }

    body.page.type-project {
        background-image: url("/images/3.jfif");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 100%;
    }
   */
}

.sidebar {
    background-color: rgb(130, 220, 243);
}

